@{
    ViewData["Title"] = "Dashboard";

    var currentUserName = ViewData["CurrentUserName"] as string;
    var events = ViewData["Events"] as List<DashboardUpcomingEventViewModel>;
}

<h1>Welcome, @currentUserName!</h1>

<div class="row">
    <div class="col-md-3">
        <h5>Upcoming classes</h5>
        <ul class="list-unstyled">
            @foreach (var e in events)
            {
                var locationString = e.IsHomeTutoring ? "your home" : "Shah Alam Centre";
                <li>@($"{e.SubjectName}, {e.ChildName}")
                    <ul>
                        <li>@($"{e.StartTimestamp.ToString("dd MMMM (dddd), htt")}, {locationString}")</li>
                    </ul>
                </li>
            }
        </ul>
    </div>
    <div class="col-md">
        <h5>Quick Links</h5>
        <div class="row">
            <div class="col-md-6">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Register a child</h5>
                        <p class="card-text">Have your children attend our award-winning education centre and let the results speak for themselves.</p>
                        <a asp-controller="Children" asp-action="Register" class="btn btn-primary">Register</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Enroll for a subject</h5>
                        <p class="card-text">Enroll your children into one of our diverse range of subject classes.</p>
                        <a asp-controller="Subjects" asp-action="EnrollmentSubjectSelection" class="btn btn-primary">Enroll</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-6">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">View schedule</h5>
                        <p class="card-text">Keep track of when and where your children's classes are happening.</p>
                        <a asp-controller="Schedule" asp-action="Index" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">View invoices</h5>
                        <p class="card-text">View and make payments for the education service.</p>
                        <a asp-controller="Invoices" asp-action="Index" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
