@{
    ViewData["Title"] = "Dashboard";
}

<h1>Dashboard</h1>

<div class="row">
    <div class="col-md-3">
        <h6>Upcoming classes</h6>
        <ul class="list-unstyled">
            <li>Ahmad bin Ali
                <ul>
                    <li>30 March (Monday), 2pm, Shah Alam Centre</li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="col-md">
        <div class="row">
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Register a child</h5>
                        <p class="card-text">Have your children attend our award-winning education centre and let the results speak for themselves.</p>
                        <a href="register" class="btn btn-primary">Register</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Enroll for a subject</h5>
                        <p class="card-text">Enroll your children into one of our diverse range of subject classes.</p>
                        <a href="enroll" class="btn btn-primary">Enroll</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">View schedule</h5>
                        <p class="card-text">Keep track of when and where your children's classes are happening.</p>
                        <a href="register" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
