@{
    ViewData["Title"] = "Index";

    var invoices = ViewData["Invoices"] as List<Invoice>;
}

<h1>Invoices</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Invoice Date</th>
            <th scope="col">Status</th>
            <th scope="col">Amount (RM)</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in invoices.OrderByDescending(x => x.Date))
        {
            <tr>
                <td>@i.Date.ToString("dd/MM/yyyy")</td>
                <td>@i.Status.ToString()</td>
                <td>@i.TotalAmount()</td>
                <td>
                    <a asp-controller="Invoices" asp-action="Invoice" asp-route-id="@i.Id">View</a>
                </td>
            </tr>
        }
    </tbody>
</table>
