@{
    ViewData["Title"] = "Schedule";
}

@section Scripts
{
    <script src="~/lib/fullcalendar-3.9.0/lib/moment.min.js"></script>
    <script src="~/lib/fullcalendar-3.9.0/fullcalendar.min.js"></script>
    <script src="~/js/calendar.js"></script>
}

<h1>Schedule</h1>

<div id="calendar" data-endpoint="/api/schedule/events"></div>
